# iris

In [29]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/iris.csv')
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 1. iris에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [33]:
data.groupby('species')['petal_width'].quantile(0.75)

species
setosa        0.3
versicolor    1.5
virginica     2.3
Name: petal_width, dtype: float64

In [35]:
data.groupby('species')['petal_width'].quantile(0.75)[2]-data.groupby('species')['petal_width'].quantile(0.75)[0]

1.9999999999999998

### 2. iris에서 sepal_length 변수의 전체 값들을 중복없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [22]:
list(data['sepal_length'].drop_duplicates().sort_values())[9]

5.2

### 3. iris 데이터를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오.(소수점 이하 버림)

In [98]:
n3 = data.sort_values(by='sepal_width', ascending = False).reset_index(drop=True)[:100]
n3

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.7          4.4           1.5          0.4      setosa
1            5.5          4.2           1.4          0.2      setosa
2            5.2          4.1           1.5          0.1      setosa
3            5.8          4.0           1.2          0.2      setosa
4            5.4          3.9           1.3          0.4      setosa
..           ...          ...           ...          ...         ...
95           6.4          2.9           4.3          1.3  versicolor
96           6.3          2.9           5.6          1.8   virginica
97           5.6          2.9           3.6          1.3  versicolor
98           5.7          2.9           4.2          1.3  versicolor
99           6.2          2.9           4.3          1.3  versicolor

[100 rows x 5 columns]

In [101]:
np.trunc(np.std(n3['sepal_width'])*50)

16.0

### 4. iris 데이터에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오.(소수점 이하 반올림)

In [104]:
n4 = data.sort_values(['species','petal_length'], ascending = [True, False])
n4.head()

    sepal_length  sepal_width  petal_length  petal_width species
24           4.8          3.4           1.9          0.2  setosa
44           5.1          3.8           1.9          0.4  setosa
5            5.4          3.9           1.7          0.4  setosa
18           5.7          3.8           1.7          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [111]:
n4_top10 = n4.groupby('species').head(10)
round(n4_top10.groupby('species')['petal_length'].mean().sum())

13

### 5. iris 데이터에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오. (이상치 범위는 평균+2std or 평균-2std)

In [66]:
mean = np.mean(data['sepal_length'])
std = np.std(data['sepal_length'])

In [76]:
len(data[(data['sepal_length']>=mean+2*std)|(data['sepal_length']<=mean-2*std)])

6

# wine

In [165]:
import pandas as pd

wine = pd.read_csv('data/wine.csv')
wine.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

### 1. wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alacalinity_of_ash 평균값을 계산하시오,(소수점 이하 버림)

In [122]:
wine = wine.dropna(subset=['total_phenols'])
wine.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               8
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
class                           0
dtype: int64

In [124]:
median = wine['alcalinity_of_ash'].median()

In [129]:
wine['alcalinity_of_ash'] = wine['alcalinity_of_ash'].fillna(median)
np.trunc(wine['alcalinity_of_ash'].mean())

19.0

### 2. wine 데이터 세트에서 alcohol 값이 평균 이상이고, color_intensity 값이 평균 이상인 데이터에서 가장 많은 클래스 값을 구하시오.

In [213]:
w2 = wine[(wine['alcohol']>=wine['alcohol'].mean())&(wine['color_intensity']>=wine['color_intensity'].mean())]
w2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0

In [214]:
w2['class'].value_counts()

0    37
2    23
1     1
Name: class, dtype: int64

### 3. wine에서 class 1에 해당하는 데이터의 ash 평균값과 wine 데이터의 모든 결측치를 제거한 후의 ash값의 평균값 차이의 절대값을 게산하시오,(소수점 아래 4자리에서 반올림)

In [223]:
n3 = wine[wine['class']==1]
q1 = n3['ash'].mean()

In [224]:
wine = wine.dropna()
wine.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
class                           0
dtype: int64

In [225]:
q2 = wine['ash'].mean()

print(round(abs(q2-q1),3))

0.123

### 4. wine에서 alcohol 상위 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균을 계산하시오.(소수점 아래 3번째에서 반올림)

In [245]:
n4 = wine.sort_values(by='alcohol')
n4.loc[0:19,'alcohol'] = n4.loc[19, 'alcohol']
round(n4[n4['proanthocyanins']<=2]['alcohol'].mean(),2)

12.96

### 5. wine에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3 사분위수와 제 1 사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [185]:
n5_1 = wine[wine['class']==1]
n5_1.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
59,12.37,0.94,1.36,10.6,88.0,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520.0,1
60,12.33,1.10,2.28,16.0,101.0,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680.0,1
61,12.64,1.36,2.02,16.8,100.0,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450.0,1
62,13.67,1.25,1.92,18.0,94.0,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630.0,1
63,12.37,1.13,2.16,NaN,87.0,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420.0,1

In [198]:
q1 = n5_1['proline'].quantile([0.25,0.75])[0.75]-n5_1['proline'].quantile([0.25,0.75])[0.25]
q1

218.5

In [199]:
n5_2 = wine[wine['class']==2]
n5_2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
130,12.86,1.35,2.32,18.0,122.0,1.51,1.25,0.21,0.94,4.10,0.76,1.29,630.0,2
131,12.88,2.99,2.40,20.0,104.0,1.30,1.22,0.24,0.83,5.40,0.74,1.42,530.0,2
132,12.81,2.31,2.40,24.0,98.0,1.15,1.09,0.27,0.83,5.70,0.66,1.36,560.0,2
133,12.70,3.55,2.36,21.5,106.0,1.70,1.20,0.17,0.84,5.00,0.78,1.29,600.0,2
134,12.51,1.24,2.25,17.5,85.0,2.00,0.58,0.60,1.25,5.45,0.75,1.51,650.0,2

In [200]:
q2 = n5_2['proline'].quantile([0.25,0.75])[0.75]-n5_2['proline'].quantile([0.25,0.75])[0.25]
q2

150.0

In [201]:
print(abs(q1-q2))

68.5

# Stellar classification

In [298]:
import pandas as pd

x_train = pd.read_csv('data/stellar_X_train.csv')
x_test = pd.read_csv('data/stellar_X_test.csv')
y_train = pd.read_csv('data/stellar_y_train.csv')

In [247]:
x_train.head()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
0,15.543143,11.633094,22.93538,20.90945,19.21472,18.55761,18.25810,0.351560,7787,301,2,303,4663
1,229.830659,22.738286,19.23876,18.55859,18.35505,18.30021,18.02694,2.342957,4649,301,5,297,3955
2,197.034525,4.473539,21.53487,20.89188,20.05817,19.31662,18.85004,0.654545,2247,301,3,242,4758
3,350.480205,33.899168,21.74429,21.16560,20.75535,20.17831,19.89537,1.722429,8157,301,3,66,7757
4,2.394550,-4.361202,22.31607,22.79926,21.83227,21.34860,21.70997,0.852792,7824,301,5,332,9344

In [251]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB

In [252]:
x_train.describe()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.000000,70000.000000,70000.000000
mean,177.535809,24.107885,21.938806,20.486718,19.644011,19.082969,18.624590,0.575246,4478.649443,301.0,3.510500,186.045714,5127.852900
std,96.483093,19.665057,37.942814,37.925201,1.852053,1.755997,37.904705,0.729921,1965.326847,0.0,1.585203,148.661268,2947.452991
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.385304,5.115922,20.349987,18.957325,18.136183,17.733732,17.463838,0.052602,3185.000000,301.0,2.000000,82.000000,2525.750000
50%,180.706865,23.579507,22.183860,21.095445,20.122805,19.399590,19.001010,0.422838,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942154,39.871336,23.684145,22.121073,21.039012,20.391340,19.917578,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [293]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   galaxy  70000 non-null  int64
dtypes: int64(1)
memory usage: 547.0 KB

In [299]:
col_del = []
col_num = ['alpha','delta','u','g','r','i','z','redshift']
col_cat = ['run_ID','rerun_ID','cam_col','field_ID','plate']
col_y = ['galaxy']

In [300]:
x_train[col_cat] = x_train[col_cat].astype(str)
x_test[col_cat] = x_test[col_cat].astype(str)

In [301]:
from sklearn.preprocessing import LabelEncoder

x = pd.concat([x_train,x_test])

for col in col_cat:
    le = LabelEncoder()
    le.fit(x[col])
    x_train[col] = le.transform(x_train[col])
    x_test[col] = le.transform(x_test[col])

In [302]:
from sklearn.model_selection import train_test_split

x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size=0.3, stratify = y_train)

In [304]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_tr[col_num] = scaler.fit_transform(x_tr[col_num])
x_val[col_num] = scaler.fit_transform(x_val[col_num] )
x_test[col_num] = scaler.fit_transform(x_test[col_num] )

In [305]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(x_tr, y_tr)

C:\Users\WIN\AppData\Local\Temp\ipykernel_12024\48944617.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf.fit(x_tr, y_tr)

RandomForestClassifier()

In [310]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(x_val)
print(roc_auc_score(y_val, y_pred_rf[:,1]))

0.970902738671287

In [311]:
pred = model_rf.predict(x_test)
pd.DataFrame({'galaxy':pred}).to_csv('submit/004000003.csv', index = False)

In [312]:
pd.DataFrame({'galaxy':pred})

       galaxy
0           0
1           0
2           1
3           1
4           0
...       ...
29995       1
29996       0
29997       0
29998       0
29999       1

[30000 rows x 1 columns]