# Airquality - 단일표본 t검정

In [1]:
import pandas as pd
import scipy.stats as stats

data = pd.read_csv('data/airquality.csv')
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

### 1. 표본평균을 구하시오.

In [4]:
wind_mean = data['Wind'].mean()
print(round(wind_mean,2))

9.96

### 2. 위의 가설 검정을 위한 검정통계량을 구하시오.

In [10]:
t_score, p_value = stats.ttest_1samp(data['Wind'],10) # 표본, 모평균

In [11]:
print(round(t_score,2))

-0.15

### 3. 위의 통계량에 대한 p-값을 구하고 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [12]:
print(round(p_value,4))

if p_value >= 0.05:
    print('채택')
else:
    print('기각')

0.8816
채택

# Chickweight - 독립표본 t검정

In [13]:
data = pd.read_csv('data/chickweight.csv')
data.head()

   weight  Diet
0      42     1
1      51     1
2      59     1
3      64     1
4      76     1

In [46]:
a1 = data.loc[data.Diet == 1]
a4 = data.loc[data.Diet == 4]

print(round(a1['weight'].mean(),2))
print(round(a4['weight'].mean(),2))

102.65
135.26

In [47]:
t_score, p_value = stats.ttest_ind(a1['weight'], a4['weight'], equal_var = False)

In [48]:
print(round(t_score,2))

-4.41

In [49]:
print(round(p_value,4))

if p_value>=0.05:
    print('채택')
else:
    print('기각')

0.0
기각

# StudentsPerformace - 일원분산분석

In [51]:
data = pd.read_csv('data/StudentsPerformance1.csv', encoding = 'cp949')
data.head()

   ID   인종  수학 점수  읽기 점수  쓰기 점수
0   1  B그룹     72     72     74
1   2  C그룹     69     90     88
2   3  B그룹     90     95     93
3   4  A그룹     47     57     44
4   5  C그룹     76     78     75

In [53]:
a = data.loc[data['인종']=='A그룹']
b = data.loc[data['인종']=='B그룹']
c = data.loc[data['인종']=='C그룹']
d = data.loc[data['인종']=='D그룹']

In [56]:
ma = round(a['수학 점수'].mean(),2)
mb = round(b['수학 점수'].mean(),2)
mc = round(c['수학 점수'].mean(),2)
md = round(d['수학 점수'].mean(),2)

print(ma,mb,mc,md)

61.63 63.45 64.46 67.36

In [60]:
t_score, p_value = stats.f_oneway(a['수학 점수'],b['수학 점수'],c['수학 점수'], d['수학 점수'])

In [61]:
print(round(t_score,2))

4.66

In [62]:
print(round(p_value,4))

if p_value>=0.05:
    print('채택')
else:
    print('기각')

0.0031
기각

# StudentsPerformace - 카이제곱검정

In [64]:
data = pd.read_csv('data/StudentsPerformance2.csv', encoding = 'cp949')
data.head()

   ID  성별 부모 학력 수준 학업 성적
0   1  여성       중간    보통
1   2  여성       낮음    우수
2   3  여성       높음    우수
3   4  남성       중간    낮음
4   5  남성       낮음    보통

In [72]:
men = data.loc[(data['성별']=='남성')&(data['학업 성적']=='우수')].reset_index()
women = data.loc[(data['성별']=='여성')&(data['학업 성적']=='우수')].reset_index()

In [74]:
print(abs(len(men)-len(women)))

38

In [75]:
table = pd.crosstab(data['성별'], data['학업 성적'])
table

학업 성적   낮음   보통   우수
성별
남성     115  283   84
여성      83  313  122

In [77]:
x1 = table.loc['남성',:]
x2 = table.loc['여성',:]

In [79]:
test_result = stats.chi2_contingency([x1,x2])
print(test_result)

Chi2ContingencyResult(statistic=12.4115784293196, pvalue=0.0020177157693633684, dof=2, expected_freq=array([[ 95.436, 287.272,  99.292],
       [102.564, 308.728, 106.708]]))

In [83]:
print(round(test_result.statistic,2))

12.41

In [84]:
print(round(test_result.pvalue,4))

0.002